body {
    font-family: sans-serif;
    background-color: black;

}

header {
    display:flex;
    justify-content: space-between;
    padding:15px;
    margin-bottom: 20px;
    align-items:center ;
    color:white ;

}

.button {
    background-color: #36bbce;
    color:white ;
    text-decoration: none;
    padding: 15px;
    font-size: 24px;
    border-radius: 10px;
}

nav {
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    padding: 25px 100px 25px 95px;
    justify-content: space-between;
    display:flex;

}

.nav-link {
    font-size: 24px;
    color:white;
    text-decoration: none;
}

h1 {
    text-align: center;
    color: black;
    font-size: 36px;
    margin-top:15px ;
    margin-bottom:15px ;
}

p {
    font-size: 24px;
}

.info {
    display:flex; 
    flex-wrap: wrap;
    width: 1200px;
    margin: 15px 45px;
}

article {
    background-color: white;
    padding:15px;
    width: 400px;
    margin:15px ;
}

.article-but {
    text-decoration: none;
    background-color:#FF6700;
    color:white;
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
    justify-content:center ;
}

footer {
    padding:15px ;
    display:flex;
    background-color:#FF6700 ;
}

footer a {
    margin-right:57px ;

    
}

footer p {
    font-size: 24px;
    color:white ;
    text-align:center ;
}
